<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
	  <sectionGroup name="common">
	    <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
	  </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="SendKeys" value="SendInput"/>
  </appSettings>
</configuration>