<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CK.Context" version="2.9.0-develop" targetFramework="net40-Client" />
  <package id="CK.Core" version="2.7.43" targetFramework="net40-Client" />
  <package id="CK.Plugin.Config" version="2.9.0-develop" targetFramework="net40-Client" />
  <package id="CK.Reflection" version="2.7.43" targetFramework="net40-Client" />
  <package id="CK.SharedDic" version="2.9.0-develop" targetFramework="net40-Client" />
  <package id="CK.Storage" version="2.7.43" targetFramework="net40-Client" />
  <package id="CK-Plugin" version="2.9.0-develop" targetFramework="net40-Client" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net40-Client" />
</packages>