*.suo
obj/
Output/
packages/
Setup/StandardSetup/CiviKeyPostInstallScript.*
*user
Setup/StandardSetup/Civikey*.exe
Setup/StandardSetup/Resources/CiviKey*.exe
Plugins/Advanced/Patchers/KeyboardPatcher/bin/
Plugins/Advanced/ContextEditor/bin/*
**/bin/*
Plugins/Accessibility/WordPredictor/bin/Debug/
Tests/WordPredictorTest/bin/
Plugins/Accessibility/CK.WordPredictor/bin/
