*.suo
obj/
Output/
packages/
Setup/StandardSetup/CiviKeyPostInstallScript.*
*user
Setup/StandardSetup/Civikey*.exe
Setup/StandardSetup/Resources/CiviKey*.exe
Plugins/Advanced/Patchers/KeyboardPatcher/bin/
Plugins/Advanced/ContextEditor/bin/*
**/bin/*
