<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CK.Context" version="2.11.0-develop" targetFramework="net45" />
  <package id="CK.Core" version="3.0.22" targetFramework="net45" />
  <package id="CK.Plugin.Config" version="2.11.0-develop" targetFramework="net45" />
  <package id="CK.Reflection" version="3.0.22" targetFramework="net45" />
  <package id="CK.SharedDic" version="2.11.0-develop" targetFramework="net45" />
  <package id="CK.Storage" version="3.0.22" targetFramework="net45" />
  <package id="CK-Plugin" version="2.11.0-develop" targetFramework="net45" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
</packages>