<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.5.2" targetFramework="net40-Client" />
  <package id="CK.Context" version="2.11.0-develop" targetFramework="net40-Client" />
  <package id="CK.Core" version="3.0.22" targetFramework="net40-Client" />
  <package id="CK.Interop" version="3.0.22" targetFramework="net40-Client" />
  <package id="CK.Monitoring" version="3.0.22" targetFramework="net40-Client" />
  <package id="CK.Plugin.Config" version="2.11.0-develop" targetFramework="net40-Client" />
  <package id="CK.Reflection" version="3.0.22" targetFramework="net40-Client" />
  <package id="CK.SharedDic" version="2.11.0-develop" targetFramework="net40-Client" />
  <package id="CK.Storage" version="3.0.22" targetFramework="net40-Client" />
  <package id="CK.Windows.App" version="2.11.0-develop" targetFramework="net40-Client" />
  <package id="CK.Windows.Config" version="2.11.0-develop" targetFramework="net40-Client" />
  <package id="CK.Windows.Core" version="2.11.0-develop" targetFramework="net40-Client" />
  <package id="CK.Windows.Interop" version="2.11.0-develop" targetFramework="net40-Client" />
  <package id="CK-Plugin" version="2.11.0-develop" targetFramework="net40-Client" />
  <package id="CK-Runner" version="2.11.0-develop" targetFramework="net40-Client" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net40-Client" />
  <package id="Common.Logging.Log4Net1211" version="2.1.2" targetFramework="net40-Client" />
  <package id="Ionic.Zip.Reduced" version="1.0.0" targetFramework="net40-Client" />
  <package id="log4net" version="2.0.2" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net40-Client" />
</packages>