<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CK.Core" version="3.0.22" targetFramework="net40-Client" />
  <package id="CK.Storage" version="3.0.22" targetFramework="net40-Client" />
  <package id="CK-Plugin" version="2.11.0-develop" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40-Client" />
</packages>